<!DOCTYPE html>
<html lang="en" id="board">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start HD</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/star/css/styles.css">
    <link rel="stylesheet" href="/star/css/sidebar.css">
    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif;
            color: #fff;
        }
        .board__logo__content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
        }
        .board__logo {
            position: absolute;
            width: 120px;
            height: 100px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .board__logo--img {
            width: 200px;
            top: 10px;
            left: 10px;
            background-image: url(/img/logo.png);
        }
        /* .board__logo--img2 {
            background-image: url(/star/img/logo.png);
            width: 100px;
            height: 20px;
            min-height: 10%;
            bottom: 5px;
            left: 6px;
        }
        .board__logo--img3 {
            background-image: url(/img/cojedes.png);
            min-height: 10%;
            width: 10%;
            top: 10px;
            right: 10px;
        }
        .board__logo--img4 {
            background-image: url(/img/conalot.png);
            width: 120px;
            height: 60px;
            min-width: 10%;
            min-height: 5%;
            bottom: 50px;
            right: 10px;
        } */
        .board__content__content--rulete {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
        }
        .dados {
            background-image: url(/star/img/americana.png);
            width: 12%;
            min-height: 12%;
            position: absolute;
            top: 10px;
            left: 10px;
            background-size: 100% 100%;
            z-index: 1000000;
        }
        .full{
          position: fixed;
          bottom: 140px;
          left: 10px;
          display: flex;
          width: 16px;
          z-index: 100000;
        }
        .zoom {
            position: fixed;
            bottom: 100px;
            left: 10px;
            display: flex;
            width: 16px;
            z-index: 100000;
          }
        .zoom_button, .full_button {
            flex: 1;
            border: none;
            padding: 10px 15px;
            border-radius: 6px;
            background-color: #fff;
        }
        .zoom_button:hover, .full_button:hover {
            background-color: rgba(193, 192, 192, 0.8);
            cursor: pointer;
        }
        .zoom_button:nth-child(odd) {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        .zoom_button:nth-child(even) {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .full_button{}
    </style>
</head>
<body class="body">
    <div class="board">

      <div class="dados"></div>
      <div class="board__logo board__logo--img2"></div>
      <div class="board__logo board__logo--img3"></div>
      <div class="board__logo board__logo--img4"></div>

      <div class="full">
        <button type="button" class="full_button" id="fullscreen">FULLSCREEN</button>
      </div>

      <div class="zoom">
        <button type="button" class="zoom_button" id="min">-</button>
        <button type="button" class="zoom_button" id="max">+</button>
      </div>

        <div class="board__header">
            <div id="current">JUEGO ACTUAL : ESPERANDO...</div>
        </div>
        <div class="board__content">

            <div class="board__content__content--rulete">
                <div class="board__content__rulete">

                    <div class="winner">06</div>
                    <div class="arrow"></div>

                    <div class="countdown">3</div>
                    <div class="countdown countdown--1">2</div>
                    <div class="countdown countdown--2">GO!</div>

                    <div class="board__content__rulete__madera"></div>
                    <div class="board__content__rulete__content">
                        <div class="board__content__rulete__content__img roulette"></div>
                    </div>

                    <div class="board__content__rulete__light board__content__rulete__light--1"></div>
                    <div class="board__content__rulete__light board__content__rulete__light--2"></div>
                </div>
            </div>
        </div>
        <div class="board__footer">
            <div class="countdownLeftOver">
                <span class="best">APUESTAS CIERRAN</span>
                <span class="countdownLeftOver__minutes">EN</span>
                <span class="countdownLeftOver__divider">:</span>
                <span class="countdownLeftOver__seconds">CURSO</span>
            </div>
        </div>
    </div>

    <div class="bar">
        <div class="bar__proggress">
            <div class="bar__proggress__height"></div>
        </div>
    </div>

    <section class="sidebar">
        <div class="sidebar__header">
            <div class="payTable">
                <div class="payTable__row payTable__row--title">TABLA DE PAGO</div>
                <div class="payTable__row">
                    <span class="payTable__row__color">COLOR</span>
                    <div class="payTable__row__content">
                        <span class="payTable__row__content__number bg__red">2</span>
                        <span class="payTable__row__content__number bg__black">2</span>
                        <span class="payTable__row__content__number bg__green">36</span>
                    </div>
                </div>
                <div class="payTable__row">
                    <span class="payTable__row__color">DOCENAS</span>
                    <div class="payTable__row__content">
                        <span class="payTable__row__content__number bg__blue">3</span>
                    </div>
                </div>
                <div class="payTable__row">
                    <span class="payTable__row__color">PAR / IMPAR</span>
                    <div class="payTable__row__content">
                        <span class="payTable__row__content__number bg__blue">2</span>
                    </div>
                </div>
                <div class="payTable__row">
                    <span class="payTable__row__color">NUMERO</span>
                    <div class="payTable__row__content">
                        <span class="payTable__row__content__number bg__blue">36</span>
                    </div>
                </div>
            </div>
            <div class="lastestGame">
                <div class="lastestGame__row lastestGame__row--title">ULTIMOS JUEGOS</div>
                <div class="lastestGame__row lastestGame__row--top">
                    <span id="row__current0" class="lastestGame__row__current">ESPERANDO</span>
                    <span id="lastestGame__row__number0" class="lastestGame__row__number">0</span>
                </div>
                <div class="lastestGame__row">
                    <span id="row__current1" class="lastestGame__row__current">ESPERANDO</span>
                    <span id="lastestGame__row__number1" class="lastestGame__row__number">0</span>
                </div>
                <div class="lastestGame__row">
                    <span id="row__current2" class="lastestGame__row__current">ESPERANDO</span>
                    <span id="lastestGame__row__number2" class="lastestGame__row__number">0</span>
                </div>
                <div class="lastestGame__row">
                    <span id="row__current3" class="lastestGame__row__current">ESPERANDO</span>
                    <span id="lastestGame__row__number3" class="lastestGame__row__number">0</span>
                </div>
                <div class="lastestGame__row">
                    <span id="row__current4" class="lastestGame__row__current">ESPERANDO</span>
                    <span id="lastestGame__row__number4" class="lastestGame__row__number">0</span>
                </div>
                <div class="lastestGame__row">
                    <span id="row__current5" class="lastestGame__row__current">ESPERANDO</span>
                    <span id="lastestGame__row__number5" class="lastestGame__row__number">0</span>
                </div>
                <div class="lastestGame__row">
                    <span id="row__current6" class="lastestGame__row__current">ESPERANDO</span>
                    <span id="lastestGame__row__number6" class="lastestGame__row__number">0</span>
                </div>
                <div class="lastestGame__row">
                    <span id="row__current7" class="lastestGame__row__current">ESPERANDO</span>
                    <span id="lastestGame__row__number7" class="lastestGame__row__number">0</span>
                </div>
            </div>
        </div>
        <div class="statistiscs">
            <div class="statistiscs__numbers">
                <div class="statistiscs__numbers__title">NUMERO (ÚLTIMOS 120 SORTEOS)</div>
                <div class="statistiscs__numbers__rows statistiscs__numbers__rows__top">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">01</div>
                        <div id="ds-1" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">13</div>
                        <div id="ds-13" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">25</div>
                        <div id="ds-25" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">02</div>
                        <div id="ds-2" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">14</div>
                        <div id="ds-14" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">26</div>
                        <div id="ds-26" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">03</div>
                        <div id="ds-3" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">15</div>
                        <div id="ds-15" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">27</div>
                        <div id="ds-27" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">04</div>
                        <div id="ds-4" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">16</div>
                        <div id="ds-16" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">28</div>
                        <div id="ds-28" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">05</div>
                        <div id="ds-5" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">17</div>
                        <div id="ds-17" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">29</div>
                        <div id="ds-29" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">06</div>
                        <div id="ds-6" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">18</div>
                        <div id="ds-18" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">30</div>
                        <div id="ds-30" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">07</div>
                        <div id="ds-7" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">19</div>
                        <div id="ds-19" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">31</div>
                        <div id="ds-31" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">08</div>
                        <div id="ds-8" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">20</div>
                        <div id="ds-20" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">32</div>
                        <div id="ds-32" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">09</div>
                        <div id="ds-9" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">21</div>
                        <div id="ds-21" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">33</div>
                        <div id="ds-33" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">10</div>
                        <div id="ds-10" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">22</div>
                        <div id="ds-22" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">34</div>
                        <div id="ds-34" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">11</div>
                        <div id="ds-11" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">23</div>
                        <div id="ds-23" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">35</div>
                        <div id="ds-35" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">12</div>
                        <div id="ds-12" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__black">24</div>
                        <div id="ds-24" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__red">36</div>
                        <div id="ds-36" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__green">0</div>
                        <div id="ds-37" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__rows">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__green">00</div>
                        <div id="ds-38" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__title">DOCENAS (ÚLTIMOS 120 SORTEOS)</div>
                <div class="statistiscs__numbers__rows statistiscs__numbers__rows__top">
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__blue">1-12</div>
                        <div id="ds112" class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__blue">13-24</div>
                        <div id="ds1324"class="statistiscs__numbers__rows__row__coint">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div class="statistiscs__numbers__rows__row__number bg__blue">25-36</div>
                        <div id="ds2536" class="statistiscs__numbers__rows__row__coint statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
                <div class="statistiscs__numbers__title">COLORES (ÚLTIMOS 120 SORTEOS)</div>
                <div class="statistiscs__numbers__rows statistiscs__numbers__rows__top">
                    <div class="statistiscs__numbers__rows__row">
                        <div id="color2" class="statistiscs__numbers__rows__row__number bg__red">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div id="color1" class="statistiscs__numbers__rows__row__number bg__black">0</div>
                    </div>
                    <div class="statistiscs__numbers__rows__row">
                        <div id="color0" class="statistiscs__numbers__rows__row__number bg__green statistiscs__numbers__rows__row__coint--none">0</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <audio id="loop" src="/audio/loop.mp3" preload="auto"></audio>
    <audio id="countdown" src="/audio/countdown.mp3" preload="auto"></audio>
    <audio id="rullete" src="/audio/rullete.mp3" preload="auto"></audio>

    <!-- DEPENDENCIAS  -->

    <script src="https://api.888-888.link/socket.io/socket.io.js"></script>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/jquery-ui.min.js"></script>
    <script src="/lib/TweenMax.min.js"></script>

    <!-- SCRIPT -->
    <script src="/star/js/global.js"></script>
    <script src="/star/js/fortune.js"></script>
    <script src="/star/js/init.js"></script>

    <script type="text/javascript">
        var socket;

        function estadisticas(bt) {
            const bests = bt;
            let ds = [];
            let ds112 = 0;
            let ds1324 = 0;
            let ds2536 = 0;
            let color = [0, 0, 0];

            for(let i = 0; i <= 38; i++) {
                ds[i] = 0;
            }

            bests.forEach(function(best, index){
                const dw = best.number == '0' ? 37 : (best.number == '00' ? 38 : parseInt(best.number) );
                let c;

                switch (best.color) {
                  case 'NEGRO':
                    c = 1;
                    break;
                  case 'VERDE':
                    c = 0;
                    break;
                  case 'ROJO':
                    c = 2;
                    break;
                }

                if (index <= 7) {
                    $('#row__current' + index).text('#' + best.event);
                    $('#lastestGame__row__number' + index)
                    .css({ background: colors[c] })
                    .text(best.number);
                }

                ds[dw] += 1;
                color[c] += 1;

                if (best.number >= 1 && best.number <= 12) {
                    ds112 += 1;
                } else if (best.number >= 13 && best.number <= 24) {
                    ds1324 += 1;
                } else if (best.number >= 25 && best.number <= 36) {
                    ds2536 += 1;
                }

            });

            for(let i = 0; i <= 38; i++) {
                $('#ds-' + i).text(ds[i]);
            }

            $('#ds112').text(ds112);
            $('#ds1324').text(ds1324);
            $('#ds2536').text(ds2536);

            $('#color0').text(color[0]);
            $('#color1').text(color[1]);
            $('#color2').text(color[2]);
        }

        function loadImagenes() {
            const token = window.location.pathname.split('/star/');

            if (token[1]) {

                const headers = new Headers({
                    token: token[1]
                });

                const miInit = {
                    method: 'GET',
                    headers: headers,
                    mode: 'cors',
                    cache: 'default'
                };

                fetch('https://api.888-888.link/v1/imagenes/' + token[1], miInit)
                .then(function(response) {
                    return response.json()
                })
                .then(function(blob) {

                    if (blob.data) {

                        $('.board__logo--img4, .board__logo--img2, .board__logo--img3, .dados').css({                    'background-image': 'none'
                        });

                        if (blob.data.topLeft && blob.data.topLeft !== '') {
                            $('.dados').css({
                                'background-image': 'url(' + ('https://api.888-888.link/img/' + blob.data.topLeft) + ')'
                            });
                        }

                        if (blob.data.topRight && blob.data.topRight !== '') {
                            $('.board__logo--img3').css({
                                'background-image': 'url(' + ('https://api.888-888.link/img/' + blob.data.topRight) + ')'
                            });
                        }

                        if (blob.data.bottomLeft && blob.data.bottomLeft !== '') {
                           $('.board__logo--img2').css({
                                'background-image': 'url(' + ('https://api.888-888.link/img/' + blob.data.bottomLeft) + ')'
                            });
                        }

                        if (blob.data.bottomRight && blob.data.bottomRight !== '') {
                            $('.board__logo--img4').css({
                                'background-image': 'url(' + ('https://api.888-888.link/img/' + blob.data.bottomRight) + ')'
                            });
                        }
                    };

                    if (blob.moneda) {
                        initSocket('americana', blob.moneda.code);
                    }
                });
            }
        }

        function initSocket(product, moneda) {
            socket = io('https://api.888-888.link/best-' + 'americana-' + moneda);

            socket.emit('current', true);

            socket.on('countdown', function(countdown){
                const seconds = (parseInt(countdown.timer[0]) * 60) + parseInt(countdown.timer[1]);
                const percentage = parseInt((seconds * 100) / 300);

                $('.bar__proggress__height').css('height', percentage + '%');

                if (percentage <= 15) {
                    $('.bar__proggress__height').css('background-color', '#b72f20');
                } else if (percentage <= 30) {
                    $('.bar__proggress__height').css('background-color', '#b76720');
                } else if (percentage <= 60) {
                    $('.bar__proggress__height').css('background-color', '#a29320');
                } else {
                    $('.bar__proggress__height').css('background-color', '#29902d');
                }

                $('.countdownLeftOver__minutes').text(countdown.timer[0]);
                $('.countdownLeftOver__seconds').text(countdown.timer[1]);
                $('#current').text('JUEGO ACTUAL : #' + countdown.event);
            });

            socket.on('start', function(win){
                fortune(win.degrees);
            });

            socket.on('statistics', function(best){
                estadisticas(best)
            });

            socket.on('close', function(best){
                if (best) {
                $('.best').addClass('.close');
                } else {
                $('.best').removeClass('close');
                }
            });
        }

        loadImagenes();
    </script>
</body>
</html>
