<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Victoria</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style type="text/css">
        .board {
            background-image: url(/victoria/img/board.png);
        }
        .logo {
            background-image: url(/img/logo.png);
        }
        .roulette {
            background-image: url(/victoria/img/rulete.png);
        }
        .spin {
            background-image: url(/victoria/img/logo.png);
        }
    </style>
</head>
<body>
    <div class="board">

        <div class="roulette__content"><div class="roulette"></div></div>

        <div class="spin"></div>
        <div class="winner">06</div>
        <div class="arrow"></div>

        <div class="countdown">3</div>
		<div class="countdown countdown--1">2</div>
		<div class="countdown countdown--2">GO!</div>

        <div class="diamond diamond--1"></div>
		<div class="diamond diamond--2"></div>
		<div class="diamond diamond--3"></div>
		<div class="diamond diamond--4"></div>
		<div class="diamond diamond--5"></div>
		<div class="diamond diamond--6"></div>
		<div class="diamond diamond--7"></div>
		<div class="diamond diamond--8"></div>
		<div class="diamond diamond--9"></div>
		<div class="diamond diamond--10"></div>
		<div class="diamond diamond--11"></div>
		<div class="diamond diamond--12"></div>
		<div class="diamond diamond--13"></div>
		<div class="diamond diamond--14"></div>
		<div class="diamond diamond--15"></div>
		<div class="diamond diamond--16"></div>
		<div class="diamond diamond--17"></div>
		<div class="diamond diamond--18"></div>
		<div class="diamond diamond--19"></div>
		<div class="diamond diamond--20"></div>
		<div class="diamond diamond--21"></div>
		<div class="diamond diamond--22"></div>
		<div class="diamond diamond--23"></div>

        <div class="countdownLeftOver">
            <span class="countdownLeftOver__minutes"></span>
            <span class="countdownLeftOver__divider">:</span>
            <span class="countdownLeftOver__seconds"></span>
        </div>

    </div>

    <div class="zoom">
        <button type="button" class="zoom_button" id="min">-</button>
        <button type="button" class="zoom_button" id="max">+</button>
    </div>

    <audio id="loop" src="/audio/loop.mp3" preload="auto"></audio>
    <audio id="countdown" src="/audio/countdown.mp3" preload="auto"></audio>
    <audio id="rullete" src="/audio/rullete.mp3" preload="auto"></audio>

    <!-- DEPENDENCIAS -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/jquery-ui.min.js"></script>
    <script src="/lib/TweenMax.min.js"></script>

    <!-- SCRIPT -->
    <script src="/victoria/js/global.js"></script>
    <script src="/victoria/js/load.js"></script>
    <script src="/victoria/js/fortune.js"></script>

    <script type="text/javascript">
        var socket = io();

        socket.on('countdown', function(countdown){
            console.log(countdown)
            $('.countdownLeftOver__minutes').text(countdown[0]);
            $('.countdownLeftOver__seconds').text(countdown[1]);
        });

        socket.on('start', function(win){
            if (win) {
                fortune(win);
            }else {
                fortune();
            }
        });
    </script>
</body>
</html>
